@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center" style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:80vw">
    <h1 class="display-4">Sistema de controle de contatos</h1>
    <p>Um sistema para cadastrar seus contatos!</p>
</div>
