html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn {
    margin: 5px
}

table {
    width:80vw;
    max-width:1200px
}

table td{
   word-break:break-word
}

.field-validation-error{
    color:red;
    text-align:start;
}

.close{
    position:absolute;
    top:-24px;
    left:98%;
}

.alert{
    width:80%;
    margin:auto;
}